# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/
ENV/
env.bak/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb
output/
*.ipynb_checkpoint/

# Data files
*.csv
*.parquet
*.txt

